.App {
  text-align: center;
  text-decoration-color: ivory;
  color:white;
  background:linear-gradient(35deg,#4568dc,#b06ab3)
}

.top{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.he {
  background-color: green;
  color: white;
}

.but {
  color:white;
  background-color:white;
  text-align:60px ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ali {
  padding-right: 85px;
  padding-top: 20px;
}

.btn btn-outline-danger {
  background:linear-gradient(35deg,#4568dc,#b06ab3) ;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1d5fe2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
